body
{
    background-color: rgb(30, 194, 27);
    color: rgb(248, 246, 248);
}
div.container
{
   background-color: rgb(224, 236, 63);
}
.p50
{
    padding: 45px;
}
.bg
{
    padding:10px;
    background-color: rgb(159, 127, 239);
    border: 1px solid rgb(246, 250, 6);
}
.color-1
{
    padding:10px;
    background-color: #d3bbff;
    color:#000;
}